---
import "../styles/card-project.css";
import type { ProjectsTypes } from "../types/utils.types";

interface Props {
    item: ProjectsTypes
}
const {item} = Astro.props;
const {icons, title, date, description, link, repo, aprox} = item; 
---

<div class="card-project" data-aos="fade-up" data-aos-delay="500" >
    {!aprox && <p class="title-aprox">Próximamente</p>}
    <div  class={`container-details-card ${aprox ? "" : "aprox"}`}>
        <div class="header-card">
            <div class="header-card-title">
                <h3 class="title-card">{title}</h3>
                <div class="icons-card">
                    {icons.map((icon) => <img src={icon.src} alt="logo skill" width="25" height="25" class="logo-card" loading="lazy" />)}
                </div> 
            </div>
            <strong class="date-card">{date}</strong>
        </div>
    <p class="description-card">{description}</p>
    <div class="links-card">
        {link ? (
        <a href={link} rel="noreferrer" target="_blank" class="link-card">Visitar proyecto</a>
        ) : (
        <strong class="title-link">Solo repositorio</strong>
        )}
        <a href={repo} rel="noreferrer" target="_blank" class="link-card">Repositorio</a>
    </div>
</div>
</div>
